services:
  auth:
    build:
      context: ../../auth
      dockerfile: Dockerfile
    container_name: chronoflow-auth
    env_file:
      - ../../auth/.env
    secrets:
      - jwt_access_secret
      - jwt_refresh_secret
    ports:
      - "8081:8081"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8081"]
      interval: 5s
      timeout: 5s
      retries: 5

  users:
    build:
      context: ../../users
      dockerfile: Dockerfile
    env_file:
      - ../../users/.env
    secrets:
      - db_password
    ports:
      - "8082:8082"
    depends_on:
      migrate_users:
        condition: service_completed_successfully
      auth:
        condition: service_healthy
    restart: unless-stopped

  postgres:
    image: postgres:17-alpine
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_DB: ${POSTGRES_DB_NAME}
      POSTGRES_PASSWORD_FILE: ${POSTGRES_PASSWORD_FILE} 
    secrets:
      - db_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  migrate_users:
    build:
      context: ../../users
      dockerfile: migrate.Dockerfile
    env_file:
      - ../../users/.env
    secrets:
      - db_password
    depends_on:
      postgres:
        condition: service_healthy
    restart: "no"

secrets:
  db_password:
    file: ./secrets/dbpass.txt
  jwt_access_secret:
    file: ./secrets/jwt_access_secret.txt
  jwt_refresh_secret:
    file: ./secrets/jwt_refresh_secret.txt
  

volumes:
  postgres_data:
